#menu {
  list-style: none;
  padding: 0;
}

#menu-item {
  position: relative;
}

#submenu {
  display: none;
  position: absolute;
  top: 0;
  left: 15%;
  padding: 0;
  
  /* 하위 메뉴 백그라운드 색상 및 넓이에 대한 css */
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

#menu-item:hover #submenu {
  display: block;
}






#menu2 {
  list-style: none;
  padding: 0;
}

#menu-item2 {
  position: relative;
}

#submenu2 {
  display: none;
  position: absolute;
  top: 0;
  left: 80%;
  padding: 0;
  
  /* 하위 메뉴 백그라운드 색상 및 넓이에 대한 css */
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

#menu-item2:hover #submenu2 {
  display: block;
}


/* ul태그의 앞에 점들 없애기 */
ul{
	 list-style-type: none;
}



